
*.xz
Code/.Rhistory
/intermediate_files/old
/Code/old
Manuscript.lnk
Data/Qian_et_al_2023_Supplemental.xlsx
Code/utils/.Rhistory
/Code/utils
/blast2go
/Data/Cystenephilum Genome
Data/Interproautoinducer-2 biosynthesis.tsv
Data/InterproAutoinducer.tsv
Data/InterproQuorumSensing.tsv
Data/sequences.2024.06.04-11.55.45.fa
